#main-product{
  width: 500px;
  height: 400px;

}


body {
  background-color: #7AFFC2;
}

.review{
  font-size: 30px;
  border-size: 1px;
  border-color: hsl(111, 50%, 50% );
  background-color: hsla(111, 50%, 75%, 1.0 );
  border-style: inset;
  font-family: 'Nanum Brush Script', cursive;
}
.description{
  color: rgba(178, 45, 29, 1.0);
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-variant: small-caps;

}
.title{
  color: red;
  font-family: 'Open Sans';
  font-size-adjust: 0.58;


}


.title::first-letter{
  color: blue;
  font-size: 80px;
}

.review::before{
  content: url(images/thumbs-up.png);
}
.review::after{
  content: url(images/thumbs-up.png);
}
input[type="email"]{
  color: green;
}
